.cr-instantex-container{
    width: 40%;
    min-width: 300px;
    margin: 0 5px;
    background: var(--base-bright);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    border-radius: 3px;
    overflow: auto;
}
@media (max-width: 769px){
    .cr-instantex-container{
        width: 100%;
    }
}